body {
  font-family: "fot-klee-pro","Cormorant Garamond","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #403124;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #EE827C;
}
a:hover {
  color: #605452;
}

.homeLink {
  text-align: center;
}

.btn a{
  display: block;
  text-align: center;
  width: 260px;
  background-color: #EE827C;
  color: #f2f2f2;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  box-shadow: 2px 3px 3px #d6c6c3;
}
.btn a:hover {
  box-shadow: none;
  transform: translate(3px, 2%);
}
/* .btn a h3 {
  font-size: 16px;
} */

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}




/*-------------
layout
 ------------ */
.section {
  padding: 100px 0 100px;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
見出し
---------------------------------*/
.title {
  font-size: 48px;
  font-family: "mrblaketon-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin-top: 72px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .01em;
  color: #403124;
}
.subtitle {
  font-size: 18px;
  line-height: .5;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .1em;
  color: #403124;
}

.lead {
  margin-bottom: 30px;
  /* font-size: 14px; */
  /* text-align: center; */
}
.header-inner {
  background-size: 100%;
  background-color: #818181;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
}
.header-title {
  background-size: 100%;
  color: #fff;
  font-family: "mrblaketon-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  font-size: 48px;
  opacity: 0.8;
  line-height: 320px;
}
.first {
  bottom: 0;
  right: 0;
  position: absolute;
}

.header-img {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/header-img.png"); /* 画像 */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;
}


/*--------------------------------
nav
---------------------------------*/

.gnav {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.gnav-inner {
  padding: 15px 40px;
}

.gnav-list {
  display: flex;
  justify-content: center;
}

.gnav-item {
  margin: 0 20px;
}

.gnav-item a {
  position: relative;
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
}

.gnav-item a:hover {
  opacity: .8;
}


/*--------------------------------
Works
---------------------------------*/

.w-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.works-design {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 120px;
}

.works-design img {
  width: 70%;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-weight: bold;
  margin-top: 8px;
}


/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: -50px;
  padding: 0 160px;
}

.skill-item {
  display: block;
  /* width: 64px; */
  margin: 50px;
}

.skill-img {
  text-align: center;
  margin: 0 auto;
}
.skill-img>i {
  /* font-size: 48px; */
}

.skill-body {
  margin: 5px;
  text-align: center;
}

.skill-name {
  margin-bottom: 3px;
  /* font-size: 18px; */
}

/*--------------------------------
 About
---------------------------------*/

.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  margin: 0 auto;
}
.profile-img {
  width: 25%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}
.profile-body p span {
  /* font-size: 18px; */
  font-weight: 800;
  margin-right: 5px;
}
.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}
.a-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.career {
  display: flex;
  margin-top: 60px;
}
.career p {
  width: 50%;
  padding: 0 10px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}

.twitter {
  width: 600px;
  margin: 20px auto;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f2f2f2;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #333;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #F2CDC4;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #fff;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 72px;
  font-family: "mrblaketon-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

.article-img {
  width: 40vw;
  margin: 40px auto;
  margin-bottom: 20px;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-info-title {
  /* font-size: 15px; */
}

.article-body img {
  margin-bottom: 30px;
}

.article-body p {
  margin-bottom: 30px;
}





/*media Queries
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    /* font-size: 13px; */
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .subtitle {
    /* font-size: 14px; */
    margin-bottom: 40px;
  }
  .header-img {
    position: absolute;
    top: 0;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .inner {
    padding: 0 20px;
  }

  /*  header */
  .header {
    height: 60vh;
  }

  .header-inner {
    padding: 0 20px;
  }

  .header-title {
    /* font-size: 80px; */
    margin-bottom: 10px;
  }

  /*  下層ページのheader */
  .sub-header-inner {
    padding: 0 40px;
  }

  .sub-header-title {
    font-family: "Dancing Script", cursive;
    /* font-size: 24px; */
  }
  .sub-header-subtitle {
    /* font-size: 14px; */
  }

  /* グローバルナビ */
  .gnav .inner {
    padding: 15px;
  }
  
  .gnav-inner {
    height: 50px;
  }

  .gnav-logo {
    /* font-size: 15px; */
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    /* font-size: 12px; */
  }

  .gnav-item a:after {
    display: none;
  }

  /* mobile nav */
    .menuBar {
      display: none;
    }
    /* mark */
    .nav_toggle {
      display: block;
      position: sticky;
      top: 18px;
      left: 88vw;
      width: 1.75rem;
      height: 1.5rem;
      margin-right: 10px;
      z-index: 100;
      i {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #EE827C;
        position: absolute;
        transition: transform 0.5s, opacity 0.5s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
     /* mb menu after */
    .nav_toggle.show i:nth-child(1) {
      transform: translateY(10px) rotate(-45deg);
    }
    .nav_toggle.show i:nth-child(2) {
      opacity: 0;
    }
    .nav_toggle.show i:nth-child(3) {
      transform: translateY(-12px) rotate(45deg);
    }
     /* before */
    .nav {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: space-around;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s;
      text-align: center;
      background-color: #f2f2f2;
      z-index: 99;
    }
    .nav_menu_ul {
      flex-direction: column;
    }
    .nav_menu_li {
      margin-bottom: 30px;
    }
    .nav_menu_li a {
      color: #EE827C;
      text-decoration: none;
    }
    /*  after click */
    .nav.show {
      opacity: 1;
      visibility: visible;
    }

  /* Works */
  .works {
    margin-top: 900px;
  }

  .works-name {
    /* font-size: 10px; */
  }

  .works-list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .works-item {
    width: 40%;
    margin: 40px auto;
    margin-bottom: 80px;
  }

  .works-item:nth-of-type(3n) {
    margin-right: 0;
  }

  /* Skill */
  .skill-list {
    display: flex;
    margin-bottom: 0;
    padding: 0;
  }

  .skill-item {
    width: 30%;
    margin: 0 auto;
    padding: 3px 3px;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-img>i {
    font-size: 32px;
  }
  
  .skill-name {
    margin-bottom: 3px;
    /* font-size: 12px; */
  }

  /* About */
  .profile {
    display: block;
    width: 80%;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  .career {
    display: block;
  }
  .career p {
    width: 100%;
  }


  /* コンタクト */
  .lead {
    /* font-size: 12px; */
  }
  .twitter {
    width: 300px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 30px 0;
  }
}
